body{
    height: 100%;
    width: auto;
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
       
}

.new{
font-size: 18px;
margin-left: -17px;
margin-bottom: 17px;
}
.col-md-4{
    width: 33.3333%;
    margin-top: 190px;
    margin-left: -62px;
    
}
.submit{
    margin-left: -14px;
    margin-top: 13px;
    background-color: limegreen;
    
}
.submit:hover{
    background-color: limegreen;
}
.signup{
   background-color: limegreen; 
}
.signup:hover{
    background-color: limegreen;
}
.password{
    margin-top: -21px;
}
