
@media(min-width:320px){
    .col-md-4{
    width: 33.3333%;
    margin-top: 8px;
    margin-left: 250px;
    
}
}


@media(min-width:480px){
    .col-md-4{
    width: 33.3333%;
    margin-top: 10px;
    margin-left: 300px;
    
}
}

@media(min-width:768px){
    .col-md-4{
    width: 33.3333%;
    margin-top: 8px;
    margin-left: 400px;
    
}
}

@media(min-width:992px){
    .col-md-4{
    width: 33.3333%;
    margin-top: 180px;
    margin-left: -62px;
    
}
}
